[Unit]
Description=Gunicorn instance to serve Django app
After=network.target

[Service]
# Usuário e grupo que executará o Gunicorn
User=www-data
Group=www-data

# Diretório de trabalho do projeto
WorkingDirectory=/usr/src/ura-api/src

# Comando para iniciar o Gunicorn
ExecStart=/usr/src/ura-api/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/usr/src/ura-api/src/app.sock \
    app.wsgi:application

# Ambiente Python
Environment="PATH=/usr/src/ura-api/venv/bin"

[Install]
WantedBy=multi-user.target